.content{ 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  margin:1rem;
  padding: 1rem;



.title {
    font-size:2.3rem;
    color: rgb(141, 153, 174 );
  }
  .subTitle {
    color: rgb(237, 242, 244);
    font-size:calc(1rem + 1vh);
    opacity: 1;
    transform: translateY(0px);
    animation: fadeIn 2s 3 ease-in-out;
    text-shadow: 1px 0px red;
    margin-top: 1rem;
  }
  .para{
  font-size: 1rem; 
  padding:8px;
  min-width: 400px;
  width: 50%;
  color: #ffffff;
  background-blend-mode: lighten;
    background-color: #161A1D;
  //  position: relative;
  // animation: mymove 5s infinite;
  position: relative;
  transition: 0.5s fade-in;
  
  // white-space: nowrap; 
  // overflow: hidden;
  // text-overflow: ellipsis; 
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(60px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  h1, h4, span{
    color: rgb(239, 35, 60)
  }
  @media  (width <= 426px) {
    .para {
      display: none;
      }

      // .subTitle{
      //   font-size: 1rem;
      // }
}

}