.card {

    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 1.5rem;
    z-index: 1;
    width: 50%;
    min-block-size: fit-content;
    background-color: #fff;
    color:black;
}


  @media (320px <= width <= 768px) {
    .card {
        width: 85%;
      }
      @media  (1440px <=  width) {
        .card {
            width: 50%;
          }
    }

}