.nav {
  background-color: #333;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: auto; /* Maintain aspect ratio */
  margin-right: 1rem; /* Add spacing between logo and menu on the right */
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li :hover:not(.active) {
  background-color: #111;
}
.navigation ul li {
  margin: 0 1rem;
}

.navigation ul li:hover {
  color: rgb(229, 56, 59);
}

.navigation ul li:last-child {
  margin-right: 0;
}

.navigation ul li a {
  text-decoration: none;
  font-weight: bold;
}
