.registration {

  .row {
    display: flex;
  }
  
 
  .btn {
    background: none;
    border: none;
    text-align: center;
    font-size: 1rem;
    color: whitesmoke;
    background-color: #ef233c;
    padding: 0.8rem 1.8rem;
    border-radius: 2rem;
    cursor: pointer;
  }
  // .btn:hover {
  // }

  .title {
    padding-bottom: 0.5rem ;
    font-size: 2rem;
    padding:2rem;
    color:#EF233C;
    display: grid;
    justify-content: center;
 
  }
  .subtitle {
    padding: 10px;
    font-size: 1.2rem;
    color: #2B2D42;
  }

  @-webkit-keyframes move {
    from {
      transform: translate(-100px, -50px) rotate(-90deg);
      border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }

    to {
      transform: translate(500px, 100px) rotate(-10deg);
      border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
  }

  @keyframes move {
    from {
      transform: translate(-100px, -50px) rotate(-90deg);
      border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }

    to {
      transform: translate(500px, 100px) rotate(-10deg);
      border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
  }
}
